:root {
  --indexed_container_width: 290px;
}

.content_container {
  width: calc(100% - var(--indexed_container_width));
  height: 100%;
}

.indexed_container {
  background-color: #191919;
  width: var(--indexed_container_width);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
}

#footer {
    bottom: 0;
    left: calc(50% + var(--indexed_container_width) / 2);
    position: absolute;
    margin-bottom: 20px;
}
