<!DOCTYPE html>
<html>

<head>
<title>Title</title>
<link rel="stylesheet" type="text/css" href="../main.css">
<link rel="stylesheet" type="text/css" href="../guided-indexed.css">
</head>

<body>
  <div class="content_and_guided_container">
    <div id="content" class="content_container">
    </div>
    
    <div class="guided_container">
      <div id="previous">
      </div>
      
      <div id="next">
      </div>
    </div>
    
  </div>
  
  <div class="indexed_container">
    <ul id="links_list">
    </ul>
  </div>
  
  
  
</body>

</html>