<!DOCTYPE html>
<html>

<head>
<title>Title</title>
<link rel="stylesheet" type="text/css" href="../style/main.css">
<link rel="stylesheet" type="text/css" href="../style/guided.css">
</head>

<body>
  <div class="content_container">
    <h1>
      Conteúdo
    </h1>
  </div>
  
  <div class="guided_container">
    
    <div id="previous">
      <a class="link" href="">Anterior</a>
    </div>
    
    <div id="next">
      <a class="link" href="">Próximo</a>
    </div>
    
  </div>
  
</body>

</html>