<!DOCTYPE html>
<html>

<head>
<title>Title</title>
<link rel="stylesheet" type="text/css" href="../main.css">
<link rel="stylesheet" type="text/css" href="../indexed.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
  
  <h1>Bem-vindo ao documento tal</h1>
  
  <p>
    O objetivo aqui é mostrar um pouco a respeito de tal assunto.
  </p>
  
  <p>
    Há 3 formas de navegação disponíveis para explorar o conteúdo:
  </p>
  
  <p>
    <a href="guided">Guiado</a> - Roteiro com ordem pré-definida, através de links de navegação<br>
    <a href="indexed">Indexado</a> - Roteiro com índice de conteúdo em que você define a ordem<br>
    <a href="guided-indexed">Guiado-indexado</a> - Roteiro com links ordenados e índice de conteúdos<br>
  </p>
  
</body>

</html>